:root {
  --rare-background: transparent;
  --rare-bgtexture: none;
  --rare-bartexture: none;
  --rare-bar: transparent;
  --rare-hot: blue;
  --rare-text: black;
}

html, body, #the-page {margin:0;padding:0;height:100%;}

#the-page {
  display: table;
  width: 100%;
  height: 100%;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  display: none;
  width: 100%;
  height: 100%;
}

#optbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--rare-bar);
  background-repeat: repeat;
  background-image: var(--rare-bartexture);
  color: var(--rare-text);
}
#optbar,
#prog-timer,
.tab-block {
  margin: 0px;
  padding: 0px;
}

#prog-timer {
  width: 0%;
  border-left: 50%;
  background-color: var(--rare-text);
  display: block;
  height: 3px;
}

#prog-timer.active {
  background-color: var(--rare-hot);
}

#timer.active {
  color: var(--rare-hot);
}

div.content.active {
    display: table-row;
    height: 100%;
}

.toast {
  position: absolute;
  z-index: 3;
  top: -200px;
  right: 30px;
  width: 80%;
  overflow: hidden;
  transform: translateY(-200px);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateY(232px);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

h1#timer {
  font-size: 10em;
}

.content .container {
  padding-top: 3.5em;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body,
html,
.content .container {
  background-color: var(--rare-background);
  background-image: var(--rare-bgtexture);
  background-repeat: repeat;
  color: var(--rare-text);
}
.tab .tab-item a {
  color: var(--rare-text);
}
.tab .tab-item a.active {
  color: var(--rare-hot);
}
.tab .tab-item a:hover {
  color: var(--rare-hot);
}
.tab .tab-item.active a {
  border-color: var(--rare-hot);
  color: var(--rare-hot);
}

.btn {
  background-color: var(--rare-bar);
  color: var(--rare-hot);
}

.task-play {
  background-color: var(--rare-background);
  color: var(--rare-hot);
}

#timer {
  text-align: center;
  margin: 0px;
}

.controls {
  display: block;
  text-align: center;
  margin: 3px 0px;
}

#credits {
  text-align: center;
  font-style: italic;
}

input,
.menu {
  max-width: 90%;
}

input {
  accent-color: var(--rare-hot);
}
input[type="radio"] {
  appearance: none;
  background-color: var(--rare-background);
  margin: 0 0.2em 0 0;
  font: inherit;
  color: var(--rare-text);
  width: 0.8em;
  height: 0.8em;
  border: 0.15em solid var(--rare-text);
  border-radius: 50%;
  transform: translateY(-0.075em);
}
input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--rare-background);
}
input[type=radio]:checked {
  background-color: var(--rare-hot);
}
input[type=radio]:checked + .radio-label {
  color: var(--rare-hot);
}
input[type=radio]:disabled,
input[type=radio]:disabled + .radio-label {
  opacity: 0.5;
}

.menu {
  background-color: var(--rare-background);
  border: 1px solid var(--rare-text);
  margin: 3px 0px;
}

.menu>label {
  font-weight: bold;
}

.form-switch input:checked + .form-icon {
  background-color: var(--rare-hot);
}

.slider::-moz-range-thumb {
  background: var(--rare-hot);

}

.slider::-ms-range-thumb {
  background: var(--rare-hot);
}

.slider::-webkit-slider-thumb {
  background: var(--rare-hot);
}

div.radio {
  display: inline-block;
  margin: 1px 15px;
  padding: 0.1em 0.5em 0em 0.5em;
  border: 3px groove var(--rare-text);
  border-radius: 0.5em;  
  color: var(--rare-text);
}
input[type=number],
input[type=text] {
  background-color: var(--rare-background);
  color: var(--rare-text);
}
.timeline .timeline-item .timeline-icon.icon-lg {
  background-color: var(--rare-hot);
  color: var(--rare-background);
}
.timeline .timeline-item .timeline-icon::before {
  border-color: var(--rare-hot);
}

#timer-tasks .btn {
  margin: 0px 3px;
}

#timer-done .task-play,
.task-done {
  opacity: 0.5;
}

#focus {
  text-align: center;
  font-style: italic;
}

#focus b {
  font-size: 200%;
  color: var(--rare-hot);
}

#about-logo {
  display: inline;
  float: left;
}
#about-logo img {
  width: 150px;
  height: 150px;
}
.badge:not([data-badge])::after,
.badge[data-badge]::after {
  background-color: var(--rare-hot);
}


@media screen and (max-width: 700px) {
  .tab-item a label,
  .opt {
    display: none;
  }
  h1#timer {
    font-size: 4em;
  }
  #about-logo {
    width: 100%;
    display: block;
    text-align: center;
  }
  #about-logo img {
    max-width: 50%;
    aspect-radio: 1;
  }
}


@media screen and (max-width: 250px) {
  .tab-item a label,
  .opt,
  #optbar,
  div.content.active,
  div.content {
    display: none;
  }
  .container,
  .controls {
    padding-top: 0em;
  }
  div#page-gotimer {
    display: table-row;
    height: 100%;
  }
  h1#timer {
    font-size: 4em;
    margin: 60px 0px;
    rotate: -90deg;
  }
}

@media screen and (max-width: 150px) {
  html {
    font-size: 10pt;
  }
}